*{
    padding: 0;
    margin: 0;
    box-sizing: border-box  ;
}

.poppins-font {
    font-family: "Poppins", sans-serif;
   
    font-style: normal;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

body{
    margin: 0 80px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.logo img{
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.menuicon img{
    width: 40px;
    cursor: pointer;
}

section{
    background-color: #FEEAE9;
    display: flex;
    padding: 50px;
    border-radius: 10px;
}

.text_side{
    width: 660px;
}

.text_side .heading_text{
    word-spacing: -3px;
    padding-top: 40px;
    font-size: 50px;
    font-weight: bold;
}

.text_side .para_text{
    color: #4E4E4E;
    font-size: 16px;
    line-height: 28px;
    padding: 20px 0;
}

.text_side .price{
    color: #FF136F;
    font-weight: medium;
    font-size: 41px;
    padding: 15px 0;
}

.btn{
    color: white;
    outline: none;
    background: linear-gradient(rgba(255, 88, 155, 1) 0%, rgba(255, 19, 111, 1) 100%);
    border: none;
    border-radius: 5px;
    padding: 20px 50px;
    cursor: pointer;
}

.img_side img{
    width: 402px;
    cursor: pointer;
}

